schema/LiC_DTD_1.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT ns1:TEI (ns1:teiHeader,ns1:text)>
<!ATTLIST ns1:TEI
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  xml:id NMTOKEN #REQUIRED>

<!ELEMENT ns1:teiHeader (ns1:fileDesc,
                         (ns1:encodingDesc|ns1:profileDesc)+,
                         ns1:revisionDesc)>
<!ATTLIST ns1:teiHeader
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  xml:lang NMTOKEN #IMPLIED>

<!ELEMENT ns1:text (ns1:front,ns1:body)>
<!ATTLIST ns1:text
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:fileDesc (ns1:titleStmt,ns1:publicationStmt,
                        ns1:sourceDesc)>
<!ATTLIST ns1:fileDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:encodingDesc (ns1:projectDesc,ns1:editorialDecl,
                            ns1:tagsDecl,ns1:classDecl)>
<!ATTLIST ns1:encodingDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:profileDesc (ns1:langUsage,ns1:creation,ns1:textDesc,
                           ns1:settingDesc)?>
<!ATTLIST ns1:profileDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:revisionDesc (ns1:change)+>
<!ATTLIST ns1:revisionDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:front (ns1:div|ns1:pb|ns1:titlePage)+>
<!ATTLIST ns1:front
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:titleStmt (ns1:title,ns1:author,ns1:editor,ns1:respStmt,
                         ns1:sponsor?,ns1:funder)>
<!ATTLIST ns1:titleStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:publicationStmt (ns1:publisher,ns1:address,
                               ns1:availability)>
<!ATTLIST ns1:publicationStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:sourceDesc (ns1:biblStruct)>
<!ATTLIST ns1:sourceDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:projectDesc (ns1:p)>
<!ATTLIST ns1:projectDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:editorialDecl (ns1:interpretation,ns1:normalization,
                             ns1:hyphenation,ns1:segmentation,
                             ns1:correction)>
<!ATTLIST ns1:editorialDecl
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:tagsDecl (ns1:namespace)>
<!ATTLIST ns1:tagsDecl
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:classDecl (ns1:taxonomy)+>
<!ATTLIST ns1:classDecl
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:langUsage (ns1:language)>
<!ATTLIST ns1:langUsage
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:creation EMPTY>
<!ATTLIST ns1:creation
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:textDesc (ns1:channel,ns1:constitution,ns1:derivation,
                        ns1:domain,ns1:factuality,ns1:interaction,
                        ns1:preparedness,ns1:purpose+)>
<!ATTLIST ns1:textDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  n NMTOKEN #REQUIRED>

<!ELEMENT ns1:settingDesc (ns1:setting)>
<!ATTLIST ns1:settingDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:change (#PCDATA)>
<!ATTLIST ns1:change
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  when NMTOKEN #REQUIRED
  who CDATA #REQUIRED>

<!ELEMENT ns1:titlePage ((ns1:pb,ns1:titlePart+)?,ns1:docTitle?,
                         ns1:byline?,(ns1:lb|ns1:docAuthor)*,
                         ns1:epigraph?,ns1:docImprint)>
<!ATTLIST ns1:titlePage
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:editor (ns1:persName)>
<!ATTLIST ns1:editor
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:respStmt (ns1:resp,ns1:name+)>
<!ATTLIST ns1:respStmt
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:sponsor EMPTY>
<!ATTLIST ns1:sponsor
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:funder (#PCDATA)>
<!ATTLIST ns1:funder
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:address (ns1:addrLine)+>
<!ATTLIST ns1:address
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:availability (ns1:licence)>
<!ATTLIST ns1:availability
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  status NMTOKEN #REQUIRED>

<!ELEMENT ns1:biblStruct (ns1:analytic?,ns1:monogr,ns1:note?)>
<!ATTLIST ns1:biblStruct
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:interpretation (ns1:p)>
<!ATTLIST ns1:interpretation
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:normalization (ns1:p)>
<!ATTLIST ns1:normalization
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:hyphenation (ns1:p)>
<!ATTLIST ns1:hyphenation
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:segmentation (ns1:p)>
<!ATTLIST ns1:segmentation
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:correction (ns1:p)>
<!ATTLIST ns1:correction
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:namespace (ns1:tagUsage)>
<!ATTLIST ns1:namespace
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  name CDATA #REQUIRED>

<!ELEMENT ns1:taxonomy (ns1:bibl)>
<!ATTLIST ns1:taxonomy
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  xml:id NMTOKEN #REQUIRED>

<!ELEMENT ns1:language (#PCDATA)>
<!ATTLIST ns1:language
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  ident NMTOKEN #REQUIRED>

<!ELEMENT ns1:channel (#PCDATA)>
<!ATTLIST ns1:channel
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  mode NMTOKEN #REQUIRED>

<!ELEMENT ns1:constitution (#PCDATA)>
<!ATTLIST ns1:constitution
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #REQUIRED>

<!ELEMENT ns1:derivation EMPTY>
<!ATTLIST ns1:derivation
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #REQUIRED>

<!ELEMENT ns1:domain EMPTY>
<!ATTLIST ns1:domain
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:factuality EMPTY>
<!ATTLIST ns1:factuality
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #REQUIRED>

<!ELEMENT ns1:interaction EMPTY>
<!ATTLIST ns1:interaction
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:preparedness EMPTY>
<!ATTLIST ns1:preparedness
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #REQUIRED>

<!ELEMENT ns1:purpose EMPTY>
<!ATTLIST ns1:purpose
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  degree NMTOKEN #IMPLIED
  type NMTOKEN #REQUIRED>

<!ELEMENT ns1:setting (ns1:name*,ns1:time)>
<!ATTLIST ns1:setting
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:docTitle (ns1:titlePart)+>
<!ATTLIST ns1:docTitle
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:docAuthor (#PCDATA|ns1:hi|ns1:lb|ns1:note|ns1:ref
                         |ns1:title)*>
<!ATTLIST ns1:docAuthor
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:epigraph (ns1:quote,ns1:bibl,ns1:lb)>
<!ATTLIST ns1:epigraph
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:docImprint (#PCDATA|ns1:date|ns1:lb|ns1:pubPlace
                          |ns1:publisher|ns1:docDate)*>
<!ATTLIST ns1:docImprint
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:resp (#PCDATA)>
<!ATTLIST ns1:resp
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:addrLine (#PCDATA)>
<!ATTLIST ns1:addrLine
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:licence (#PCDATA)>
<!ATTLIST ns1:licence
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  target CDATA #REQUIRED>

<!ELEMENT ns1:analytic (ns1:title)>
<!ATTLIST ns1:analytic
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:monogr (ns1:author,ns1:title,ns1:imprint+,
                      (ns1:extent,ns1:biblScope+)?)>
<!ATTLIST ns1:monogr
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:tagUsage (#PCDATA)>
<!ATTLIST ns1:tagUsage
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  gi NMTOKEN #REQUIRED>

<!ELEMENT ns1:time (#PCDATA)>
<!ATTLIST ns1:time
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  from CDATA #IMPLIED
  to CDATA #IMPLIED
  when CDATA #IMPLIED>

<!ELEMENT ns1:quote (ns1:lg)>
<!ATTLIST ns1:quote
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:docDate (#PCDATA)>
<!ATTLIST ns1:docDate
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:imprint (ns1:pubPlace,ns1:publisher+,ns1:date,ns1:note+)>
<!ATTLIST ns1:imprint
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:extent (#PCDATA)>
<!ATTLIST ns1:extent
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:biblScope (#PCDATA)>
<!ATTLIST ns1:biblScope
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  unit NMTOKEN #IMPLIED>

<!ELEMENT ns1:title (#PCDATA|ns1:lb)*>
<!ATTLIST ns1:title
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:author (ns1:name|ns1:persName)>
<!ATTLIST ns1:author
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:persName (#PCDATA|ns1:name|ns1:ref)*>
<!ATTLIST ns1:persName
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  key NMTOKEN #IMPLIED
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:name (#PCDATA|ns1:forename|ns1:surname)*>
<!ATTLIST ns1:name
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  key CDATA #IMPLIED
  ref CDATA #IMPLIED
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:forename (#PCDATA)>
<!ATTLIST ns1:forename
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:surname (#PCDATA)>
<!ATTLIST ns1:surname
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:publisher (#PCDATA|ns1:hi|ns1:lb|ns1:persName
                         |ns1:placeName)*>
<!ATTLIST ns1:publisher
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:pubPlace (#PCDATA|ns1:hi|ns1:lb|ns1:placeName)*>
<!ATTLIST ns1:pubPlace
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  key CDATA #IMPLIED>

<!ELEMENT ns1:date (#PCDATA)>
<!ATTLIST ns1:date
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  when CDATA #IMPLIED>

<!ELEMENT ns1:note (#PCDATA|ns1:graphic|ns1:hi|ns1:p|ns1:ptr|ns1:ref)*>
<!ATTLIST ns1:note
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  corresp NMTOKEN #IMPLIED
  resp CDATA #IMPLIED
  source NMTOKEN #IMPLIED
  target NMTOKEN #IMPLIED
  type NMTOKEN #IMPLIED
  xml:id NMTOKEN #IMPLIED>

<!ELEMENT ns1:p (#PCDATA|ns1:graphic|ns1:hi|ns1:lb|ns1:note|ns1:pb
                 |ns1:ptr|ns1:ref|ns1:abbr|ns1:add|ns1:said)*>
<!ATTLIST ns1:p
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:abbr (#PCDATA)>
<!ATTLIST ns1:abbr
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:add (#PCDATA)>
<!ATTLIST ns1:add
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:said (#PCDATA|ns1:note|ns1:pb|ns1:ref)*>
<!ATTLIST ns1:said
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:bibl (#PCDATA|ns1:lb|ns1:note|ns1:persName)*>
<!ATTLIST ns1:bibl
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:div ((ns1:div|ns1:head|ns1:l|ns1:lg|ns1:note|ns1:opener
                    |ns1:pb|ns1:stage|ns1:castList|ns1:sp)*,
                   ns1:salute?,(ns1:p|ns1:floatingText|ns1:list)*,
                   (ns1:byline|ns1:closer|ns1:trailer
                    |(ns1:signed,ns1:dateline))?)>
<!ATTLIST ns1:div
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  met CDATA #IMPLIED
  n CDATA #IMPLIED
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:castList (ns1:head?,ns1:castItem+)>
<!ATTLIST ns1:castList
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:sp ((ns1:l|ns1:pb|ns1:stage|ns1:speaker)+,
                  (ns1:lb|ns1:lg)?)>
<!ATTLIST ns1:sp
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:salute (#PCDATA|ns1:lb)*>
<!ATTLIST ns1:salute
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:floatingText (ns1:body)>
<!ATTLIST ns1:floatingText
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:list (ns1:item)+>
<!ATTLIST ns1:list
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:trailer (#PCDATA)>
<!ATTLIST ns1:trailer
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:dateline (#PCDATA|ns1:lb)*>
<!ATTLIST ns1:dateline
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:castItem (#PCDATA|ns1:actor|ns1:role|ns1:roleDesc)*>
<!ATTLIST ns1:castItem
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:speaker (#PCDATA|ns1:g)*>
<!ATTLIST ns1:speaker
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:item (#PCDATA)>
<!ATTLIST ns1:item
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:actor (#PCDATA|ns1:hi)*>
<!ATTLIST ns1:actor
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  xml:id NMTOKEN #REQUIRED>

<!ELEMENT ns1:role (#PCDATA|ns1:hi)*>
<!ATTLIST ns1:role
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  xml:id NMTOKEN #IMPLIED>

<!ELEMENT ns1:roleDesc (#PCDATA|ns1:hi|ns1:note|ns1:ref)*>
<!ATTLIST ns1:roleDesc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:pb EMPTY>
<!ATTLIST ns1:pb
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  facs CDATA #IMPLIED
  n CDATA #IMPLIED>

<!ELEMENT ns1:titlePart (#PCDATA|ns1:hi|ns1:lb|ns1:note|ns1:ref)*>
<!ATTLIST ns1:titlePart
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:byline (#PCDATA)>
<!ATTLIST ns1:byline
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:lb EMPTY>
<!ATTLIST ns1:lb
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:hi (#PCDATA|ns1:g|ns1:note|ns1:ref)*>
<!ATTLIST ns1:hi
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  rend NMTOKEN #REQUIRED>

<!ELEMENT ns1:ref (#PCDATA|ns1:hi|ns1:lb)*>
<!ATTLIST ns1:ref
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  corresp NMTOKEN #IMPLIED
  target CDATA #REQUIRED
  xml:id NMTOKEN #IMPLIED>

<!ELEMENT ns1:lg ((ns1:head|ns1:lg)*,(ns1:l|ns1:pb)*)>
<!ATTLIST ns1:lg
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  met CDATA #IMPLIED
  n CDATA #IMPLIED>

<!ELEMENT ns1:body ((ns1:closer|ns1:div|ns1:opener|ns1:p|ns1:pb)*,
                    ns1:postscript?)>
<!ATTLIST ns1:body
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:postscript (ns1:p)>
<!ATTLIST ns1:postscript
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:placeName (#PCDATA|ns1:hi|ns1:lb)*>
<!ATTLIST ns1:placeName
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  key CDATA #IMPLIED
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:graphic EMPTY>
<!ATTLIST ns1:graphic
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  style NMTOKEN #IMPLIED
  url CDATA #REQUIRED
  width NMTOKEN #IMPLIED>

<!ELEMENT ns1:ptr EMPTY>
<!ATTLIST ns1:ptr
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  target CDATA #REQUIRED>

<!ELEMENT ns1:l (#PCDATA|ns1:g|ns1:hi|ns1:note|ns1:pb|ns1:ref|ns1:stage
                 |ns1:gap)*>
<!ATTLIST ns1:l
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  n CDATA #IMPLIED
  rend NMTOKEN #IMPLIED>

<!ELEMENT ns1:gap (ns1:desc)>
<!ATTLIST ns1:gap
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  extent CDATA #REQUIRED
  reason NMTOKEN #REQUIRED>

<!ELEMENT ns1:desc (#PCDATA)>
<!ATTLIST ns1:desc
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:stage (#PCDATA|ns1:g|ns1:hi|ns1:note|ns1:ref|ns1:expan)*>
<!ATTLIST ns1:stage
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:expan (ns1:am,ns1:ex)>
<!ATTLIST ns1:expan
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:am (ns1:g)>
<!ATTLIST ns1:am
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:ex (#PCDATA)>
<!ATTLIST ns1:ex
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:g (#PCDATA)>
<!ATTLIST ns1:g
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  ref NMTOKEN #REQUIRED>

<!ELEMENT ns1:head (#PCDATA|ns1:hi|ns1:lb|ns1:note|ns1:ref)*>
<!ATTLIST ns1:head
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'
  type NMTOKEN #IMPLIED>

<!ELEMENT ns1:opener (#PCDATA|ns1:hi)*>
<!ATTLIST ns1:opener
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:closer (#PCDATA|ns1:hi|ns1:lb|ns1:signed)*>
<!ATTLIST ns1:closer
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>

<!ELEMENT ns1:signed (#PCDATA|ns1:lb|ns1:note|ns1:ref)*>
<!ATTLIST ns1:signed
  xmlns:ns1 CDATA #FIXED 'http://www.tei-c.org/ns/1.0'>
