schema/LiC_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="NCName"/>
      </attribute>
      <element name="teiHeader">
        <optional>
          <attribute>
            <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
            <data type="NCName"/>
          </attribute>
        </optional>
        <element name="fileDesc">
          <element name="titleStmt">
            <ref name="title"/>
            <ref name="author"/>
            <element name="editor">
              <zeroOrMore>
                <ref name="persName"/>
              </zeroOrMore>
            </element>
            <element name="respStmt">
              <element name="resp">
                <text/>
              </element>
              <oneOrMore>
                <ref name="name"/>
              </oneOrMore>
            </element>
            <optional>
              <element name="sponsor">
                <empty/>
              </element>
            </optional>
            <element name="funder">
              <text/>
            </element>
          </element>
          <element name="publicationStmt">
            <ref name="publisher"/>
            <element name="address">
              <oneOrMore>
                <element name="addrLine">
                  <text/>
                </element>
              </oneOrMore>
            </element>
            <element name="availability">
              <attribute name="status">
                <data type="NCName"/>
              </attribute>
              <element name="licence">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
                <text/>
              </element>
            </element>
          </element>
          <element name="sourceDesc">
            <element name="biblStruct">
              <optional>
                <element name="analytic">
                  <ref name="title"/>
                </element>
              </optional>
              <element name="monogr">
                <ref name="author"/>
                <ref name="title"/>
                <oneOrMore>
                  <element name="imprint">
                    <ref name="pubPlace"/>
                    <oneOrMore>
                      <ref name="publisher"/>
                    </oneOrMore>
                    <optional>
                      <ref name="date"/>
                    </optional>
                    <oneOrMore>
                      <ref name="note"/>
                    </oneOrMore>
                  </element>
                </oneOrMore>
                <optional>
                  <element name="extent">
                    <text/>
                  </element>
                </optional>
                <zeroOrMore>
                  <element name="biblScope">
                    <optional>
                      <attribute name="unit">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                    <text/>
                  </element>
                </zeroOrMore>
              </element>
              <optional>
                <ref name="note"/>
              </optional>
            </element>
            <optional>
              <element name="listPerson">
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
                <oneOrMore>
                  <ref name="person"/>
                </oneOrMore>
              </element>
            </optional>
          </element>
        </element>
        <oneOrMore>
          <choice>
            <element name="encodingDesc">
              <element name="projectDesc">
                <ref name="p"/>
              </element>
              <element name="editorialDecl">
                <element name="interpretation">
                  <ref name="p"/>
                </element>
                <element name="normalization">
                  <ref name="p"/>
                </element>
                <element name="hyphenation">
                  <ref name="p"/>
                </element>
                <element name="segmentation">
                  <ref name="p"/>
                </element>
                <element name="correction">
                  <ref name="p"/>
                </element>
              </element>
              <element name="tagsDecl">
                <element name="namespace">
                  <attribute name="name">
                    <data type="anyURI"/>
                  </attribute>
                  <element name="tagUsage">
                    <attribute name="gi">
                      <data type="NCName"/>
                    </attribute>
                    <text/>
                  </element>
                </element>
              </element>
              <element name="classDecl">
                <oneOrMore>
                  <element name="taxonomy">
                    <attribute>
                      <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                      <data type="NCName"/>
                    </attribute>
                    <ref name="bibl"/>
                  </element>
                </oneOrMore>
              </element>
            </element>
            <element name="profileDesc">
              <optional>
                <element name="langUsage">
                  <element name="language">
                    <attribute name="ident">
                      <data type="NCName"/>
                    </attribute>
                    <data type="NCName"/>
                  </element>
                </element>
                <element name="creation">
                  <empty/>
                </element>
                <element name="textDesc">
                  <attribute name="n">
                    <data type="NCName"/>
                  </attribute>
                  <element name="channel">
                    <attribute name="mode">
                      <data type="NCName"/>
                    </attribute>
                    <data type="NCName"/>
                  </element>
                  <element name="constitution">
                    <attribute name="type">
                      <data type="NCName"/>
                    </attribute>
                    <text/>
                  </element>
                  <element name="derivation">
                    <attribute name="type">
                      <data type="NCName"/>
                    </attribute>
                  </element>
                  <element name="domain">
                    <empty/>
                  </element>
                  <element name="factuality">
                    <attribute name="type">
                      <data type="NCName"/>
                    </attribute>
                  </element>
                  <element name="interaction">
                    <empty/>
                  </element>
                  <element name="preparedness">
                    <optional>
                      <attribute name="type">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                  </element>
                  <oneOrMore>
                    <element name="purpose">
                      <optional>
                        <attribute name="degree">
                          <data type="NCName"/>
                        </attribute>
                      </optional>
                      <attribute name="type">
                        <data type="NCName"/>
                      </attribute>
                    </element>
                  </oneOrMore>
                </element>
                <element name="settingDesc">
                  <element name="setting">
                    <zeroOrMore>
                      <ref name="name"/>
                    </zeroOrMore>
                    <element name="time">
                      <optional>
                        <attribute name="from">
                          <data type="integer"/>
                        </attribute>
                      </optional>
                      <optional>
                        <attribute name="to">
                          <data type="integer"/>
                        </attribute>
                      </optional>
                      <optional>
                        <attribute name="when">
                          <data type="integer"/>
                        </attribute>
                      </optional>
                      <text/>
                    </element>
                  </element>
                </element>
              </optional>
            </element>
          </choice>
        </oneOrMore>
        <element name="revisionDesc">
          <oneOrMore>
            <element name="change">
              <attribute name="when">
                <data type="NMTOKEN"/>
              </attribute>
              <attribute name="who"/>
              <text/>
            </element>
          </oneOrMore>
        </element>
      </element>
      <element name="text">
        <element name="front">
          <oneOrMore>
            <choice>
              <ref name="div"/>
              <ref name="pb"/>
              <element name="titlePage">
                <oneOrMore>
                  <choice>
                    <text/>
                    <ref name="byline"/>
                    <ref name="docAuthor"/>
                    <ref name="docDate"/>
                    <ref name="lb"/>
                    <ref name="milestone"/>
                    <ref name="pb"/>
                    <ref name="titlePart"/>
                    <element name="docImprint">
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="date"/>
                          <ref name="docDate"/>
                          <ref name="hi"/>
                          <ref name="lb"/>
                          <ref name="milestone"/>
                          <ref name="note"/>
                          <ref name="pubPlace"/>
                          <ref name="publisher"/>
                          <ref name="ref"/>
                        </choice>
                      </oneOrMore>
                    </element>
                    <element name="docTitle">
                      <oneOrMore>
                        <ref name="titlePart"/>
                      </oneOrMore>
                      <optional>
                        <ref name="note"/>
                      </optional>
                    </element>
                    <element name="epigraph">
                      <ref name="quote"/>
                      <optional>
                        <ref name="bibl"/>
                        <ref name="lb"/>
                      </optional>
                    </element>
                  </choice>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
        <ref name="body"/>
        <optional>
          <element name="back">
            <oneOrMore>
              <ref name="div"/>
            </oneOrMore>
          </element>
        </optional>
      </element>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="lb"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <choice>
        <ref name="name"/>
        <ref name="persName"/>
        <group>
          <ref name="forename"/>
          <ref name="surname"/>
          <ref name="addName"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="persName">
    <element name="persName">
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="key">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="forename"/>
          <ref name="hi"/>
          <ref name="name"/>
          <ref name="ref"/>
          <ref name="surname"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="name">
    <element name="name">
      <optional>
        <attribute name="key">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="addName"/>
          <ref name="forename"/>
          <ref name="surname"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="publisher">
    <element name="publisher">
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="pubPlace">
    <element name="pubPlace">
      <optional>
        <attribute name="key">
          <data type="integer"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="placeName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="when">
          <data type="integer"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="corresp">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="place">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="resp"/>
      </optional>
      <optional>
        <attribute name="source">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="target">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="graphic"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="p"/>
          <ref name="person"/>
          <ref name="placeName"/>
          <ref name="quote"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="person">
    <element name="person">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="persName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="date"/>
          <ref name="foreign"/>
          <ref name="graphic"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="said"/>
          <element name="abbr">
            <data type="NCName"/>
          </element>
          <element name="add">
            <oneOrMore>
              <choice>
                <text/>
                <element name="unclear">
                  <text/>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="ptr">
            <attribute name="target"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="bibl">
    <element name="bibl">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="pb">
    <element name="pb">
      <optional>
        <attribute name="facs"/>
      </optional>
      <optional>
        <attribute name="n"/>
      </optional>
    </element>
  </define>
  <define name="byline">
    <element name="byline">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="docAuthor"/>
          <ref name="lb"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="bibl"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="lg"/>
          <ref name="note"/>
          <ref name="pb"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="lb">
    <element name="lb">
      <empty/>
    </element>
  </define>
  <define name="docAuthor">
    <element name="docAuthor">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="ref"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="titlePart">
    <element name="titlePart">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="docDate">
    <element name="docDate">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="milestone">
    <element name="milestone">
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="unit">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="hi">
    <element name="hi">
      <attribute name="rend">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="bibl"/>
          <ref name="g"/>
          <ref name="note"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <optional>
        <attribute name="corresp">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="target">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="lg"/>
          <ref name="persName"/>
          <ref name="person"/>
          <ref name="placeName"/>
          <ref name="quote"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="div">
    <element name="div">
      <optional>
        <attribute name="met"/>
      </optional>
      <optional>
        <attribute name="n">
          <data type="decimal"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="div"/>
          <ref name="floatingText"/>
          <ref name="head"/>
          <ref name="l"/>
          <ref name="lg"/>
          <ref name="milestone"/>
          <ref name="note"/>
          <ref name="opener"/>
          <ref name="p"/>
          <ref name="pb"/>
          <ref name="placeName"/>
          <ref name="publisher"/>
          <ref name="salute"/>
          <ref name="stage"/>
          <element name="castList">
            <optional>
              <ref name="head"/>
            </optional>
            <oneOrMore>
              <element name="castItem">
                <oneOrMore>
                  <choice>
                    <text/>
                    <element name="actor">
                      <attribute>
                        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                        <data type="NCName"/>
                      </attribute>
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="hi"/>
                        </choice>
                      </oneOrMore>
                    </element>
                    <element name="role">
                      <optional>
                        <attribute>
                          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                          <data type="NCName"/>
                        </attribute>
                      </optional>
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="hi"/>
                        </choice>
                      </oneOrMore>
                    </element>
                    <element name="roleDesc">
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="hi"/>
                          <ref name="note"/>
                          <ref name="ref"/>
                        </choice>
                      </oneOrMore>
                    </element>
                  </choice>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="list">
            <oneOrMore>
              <choice>
                <ref name="pb"/>
                <element name="item">
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="hi"/>
                      <ref name="person"/>
                      <ref name="ref"/>
                    </choice>
                  </oneOrMore>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="sp">
            <oneOrMore>
              <choice>
                <ref name="l"/>
                <ref name="pb"/>
                <ref name="stage"/>
                <element name="speaker">
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="g"/>
                    </choice>
                  </oneOrMore>
                </element>
              </choice>
            </oneOrMore>
            <optional>
              <choice>
                <ref name="lb"/>
                <ref name="lg"/>
              </choice>
            </optional>
          </element>
        </choice>
      </zeroOrMore>
      <optional>
        <choice>
          <ref name="byline"/>
          <ref name="closer"/>
          <ref name="said"/>
          <element name="trailer">
            <text/>
          </element>
          <group>
            <ref name="signed"/>
            <ref name="dateline"/>
          </group>
        </choice>
      </optional>
    </element>
  </define>
  <define name="body">
    <element name="body">
      <zeroOrMore>
        <choice>
          <ref name="closer"/>
          <ref name="div"/>
          <ref name="opener"/>
          <ref name="p"/>
          <ref name="pb"/>
        </choice>
      </zeroOrMore>
      <choice>
        <element name="postscript">
          <ref name="p"/>
        </element>
        <zeroOrMore>
          <ref name="note"/>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="forename">
    <element name="forename">
      <data type="NCName"/>
    </element>
  </define>
  <define name="surname">
    <element name="surname">
      <text/>
    </element>
  </define>
  <define name="addName">
    <element name="addName">
      <text/>
    </element>
  </define>
  <define name="placeName">
    <element name="placeName">
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="key">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      <optional>
        <attribute name="alt"/>
      </optional>
      <optional>
        <attribute name="style">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <attribute name="url">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="width"/>
      </optional>
    </element>
  </define>
  <define name="said">
    <element name="said">
      <optional>
        <attribute name="aloud">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="who"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="floatingText"/>
          <ref name="foreign"/>
          <ref name="note"/>
          <ref name="p"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="said"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="foreign">
    <element name="foreign">
      <data type="NCName"/>
    </element>
  </define>
  <define name="lg">
    <element name="lg">
      <optional>
        <attribute name="met"/>
      </optional>
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="head"/>
          <ref name="lg"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="l"/>
          <ref name="note"/>
          <ref name="pb"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="g">
    <element name="g">
      <attribute name="ref">
        <data type="NMTOKEN"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="stage">
    <element name="stage">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="g"/>
          <ref name="hi"/>
          <ref name="note"/>
          <ref name="ref"/>
          <element name="expan">
            <element name="am">
              <ref name="g"/>
            </element>
            <element name="ex">
              <data type="NCName"/>
            </element>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="l">
    <element name="l">
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="g"/>
          <ref name="hi"/>
          <ref name="note"/>
          <ref name="pb"/>
          <ref name="ref"/>
          <ref name="stage"/>
          <element name="gap">
            <attribute name="extent"/>
            <attribute name="reason">
              <data type="NCName"/>
            </attribute>
            <element name="desc">
              <text/>
            </element>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="byline"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="quote"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="salute">
    <element name="salute">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="lb"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="opener">
    <element name="opener">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="dateline"/>
          <ref name="hi"/>
          <ref name="note"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="salute"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="floatingText">
    <element name="floatingText">
      <ref name="body"/>
    </element>
  </define>
  <define name="signed">
    <element name="signed">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="persName"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="dateline">
    <element name="dateline">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="lb"/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="closer">
    <element name="closer">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="date"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="placeName"/>
          <ref name="salute"/>
          <ref name="signed"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
